{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between mb-2">
        <h1>Liste des Secteurs</h1>
        <a class="btn btn-success" href="{{ url_for('secteur.ajouter_secteur') }}">Ajout</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for secteur in secteurs %}
            <tr>
                <td>{{ secteur.nom }}</td>
                <td>{{ secteur.description or "N/A" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
