:root {
  --nomai : #5d91a5;
  --vert : #797d73;

  --roze: #fc83cd33;
  --blue: #0b76b488;

}

body {
  font-family: 'Outfit', sans-serif;
}

.btn-primary {
background-color: var(--vert) ;
border: none;
}

.btn-primary:hover {
background-color: var(--nomai);

}

.form-control{
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar{
  background-color: var(--nomai);
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  font-weight: 500;
  position: relative;
  border: none;
}
@media (min-width: 768px) {
  .nav-link {
      font-size: 1rem;

  }

  .nav-link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translatex(-50%);
      width: 0%;
      height: 2px;
      background-color: white;
      visibility: hidden;
      transition: 0.3s ease-in-out;
  }
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;


}




.accordion-button {
  background-color: var(--nomai);
  /* Couleur de fond uniforme pour tous les en-têtes */
  color: #fff;
  /* Couleur du texte des en-têtes */
  border: none;
  /* Supprime les bordures par défaut */
}

.accordion-button:not(.collapsed) {
  background-color: var(--nomai);
  /* Couleur lorsqu'un en-tête est actif (déplié) */
  color: #fff;
}

.accordion-body {
  background-color: #f0f3f4;
  /* Couleur de fond pour le contenu */
}


@keyframes rotateLogoY {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

.logo-rotation {
  animation: rotateLogoY 20s linear infinite;
}

.btn {
  min-width: auto;
}



.table-hover tr:hover {
  background-color: var(--nomai); /* Couleur de fond lors du survol */
  cursor: pointer; /* Change le curseur en main */
}



/* Simuler un champ désactivé */
.input-disabled {
  background-color: #d6d8db;  /* Fond gris clair */
  pointer-events: none;        /* Empêche l'interaction */
  color: #6c757d;              /* Texte gris */
}




/****************** landing page ******************/
:root {
  --primary-color: #0a192f;
  --secondary-color: #172a45;
  --accent-color: #64ffda;
  --text-primary: #ccd6f6;
  --text-secondary: #8892b0;
  --background-light: #233554;
}

.navbar {
  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
}

.navbar-brand {
  color: var(--accent-color);
  font-weight: bold;
}

.nav-link {
  color: var(--text-primary);
  margin: 0 1rem;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
