{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card mt-3">
        <div class="card-header">
            <h3>{{ reglementation.titre }}</h3>
            <div class="">
                {% if reglementation.id in suivi_map %}
                {% if suivi_map[reglementation.id] %}
                    <span class="badge bg-success">Suivi</span>
                {% else %}
                    <span class="badge bg-danger">Non suivi</span>
                {% endif %}
            {% else %}
                <span class="badge bg-secondary">Inconnu</span>
            {% endif %}
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <p><strong>Type de Texte :</strong> {{
                        reglementation.type_texte }}</p>
                    <p><strong>Date de Publication :</strong> {{
                        reglementation.date_publication.strftime('%d/%m/%Y')
                        }}</p>
                    <p><strong>Source :</strong> {{ reglementation.source }}</p>

                    {% if reglementation.versions %}
                    <p><strong>Version :</strong> {{
                        "{:02}".format(reglementation.versions[-1].version_numero)
                        }}</p>
                    {% else %}
                    <p><strong>Version :</strong> Aucune version disponible</p>
                    {% endif %}



                </div>
                <div class="col-md-6">
                    <p><strong>Thème :</strong> {{ theme.nom if theme else
                        "Non spécifié" }}</p>
                    <p><strong>Sous-Domaine :</strong> {{ sous_domaine.nom if
                        sous_domaine else "Non spécifié" }}</p>
                    <h5 class="mt-4">Secteurs Associés :</h5>
                    <ul>
                        {% for secteur in secteurs %}
                        <li>{{ secteur.secteur.nom }}</li>
                        {% else %}
                        <li>Aucun secteur associé.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <hr>

            <!-- Affichage des articles -->
            <h5>Articles :</h5>
            {% if reglementation.articles %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Contenu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in reglementation.articles %}
                    <tr>
                        {% if article.titre %}
                        <!-- Si l'article a un titre, on fusionne les colonnes -->
                        <td colspan="2" class="font-weight-bold text-center">{{ article.titre }}</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>{{ article.numero }}</td>
                        <td>
                            {% for ligne in article.contenu.split('\n') %}
                            <p>{{ ligne }}</p>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <p>Aucun article associé.</p>
            {% endif %}

            <hr>

            <!-- Affichage des versions -->
            <h5>Versions :</h5>
            {% if reglementation.versions %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numéro de Version</th>
                        <th>Contenu</th>
                        <th>Date mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for version in reglementation.versions %}
                    <tr>
                        <td>{{ version.version_numero }}</td>
                        <td>{{ version.contenu }}</td>
                        <td>{{ version.date_creation.strftime('%d/%m/%Y')
                            }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Aucune version associée.</p>
            {% endif %}
        </div>
        <div class="card-footer d-flex justify-content-between">
            {% if current_user.is_authenticated and current_user.role.name == 'ADMIN' %}
            <a href="{{ url_for('reglement.ajouter_article', reglementation_id=reglementation.id) }}"
                class="btn btn-success">
                Ajouter un Article
            </a>
        {% endif %}
        
            <a href="{{ url_for('reglement.liste_reglementations') }}" class="btn btn-secondary">
                Retour à la liste
            </a>
        </div>
    </div>
</div>
{% endblock %}
